body {
    background-color: #fff;
    color: #0000;
    height: 100vh;
}

header {
    color: #000;
    margin: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom: thin black solid;
    width: 100%;
}
  
header h1 {
    font-size: 5em;
    font-weight: bold;
    text-align: center;
}
  
header h2 {
    margin-top: 1%;
    font-size: 1.75em;
    text-align: center;
}

nav {
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    border-bottom: thin black solid;
}

nav a {
    font-size: 1.5em;
    text-decoration: none;
    padding-left: 1vw;
    padding-right: 1vw;
    border: thin black solid;
}
  
#intro {
    color: #000;
    width: 100%;
    margin-top: 7vh;
}

#intro h3 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

#intro P{
    width: 60%;
    font-size: 1.25em;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
}

#intro div{
    width: 60%;
    font-size: 1.25em;
    text-align: center;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
}

#intro div a{
    padding: 1%; 
    margin-left: 5%;
    margin-right: 5%;
    border: thin black solid;
    border-radius: 25px;
}
   
#sign-up {
    color: #000;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
}
  
footer{
    color: #000;
    border: thin black solid;
    width: 100%;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

footer p{
    text-align: center;
    font-size: 1.25em;
}